<!-- <app-search-criteria (onSearch)="handleSearch($event)"></app-search-criteria> -->

<nav>
  <a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/recipes" routerLinkActive="active">Recipes</a>  
  <a routerLink="/favorites" routerLinkActive="active">Favorites</a>  
  </nav>
  <!-- <router-outlet></router-outlet> -->

  <!-- working on routing to recipes/results page -->


<form #searchForm='ngForm' (ngSubmit)='search(searchValue)'>
 
  <mat-form-field>
    <input matInput placeholder="e.g. soup, salad, pizza" type="text" name="query" [(ngModel)]="searchValue"/>
  </mat-form-field>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="droplist">
          Diet Labels
        </mat-panel-title>
      </mat-expansion-panel-header>
   
      <div class="diets">
        <mat-checkbox>
        <span class="diet-title">Vegetarian</span>
          <span class="diet-info">No meat</span>
        </mat-checkbox>
      </div>
      <div class="diets">
        <mat-checkbox>
        <span class="diet-title">Vegan</span>
          <span class="diet-info">No aniaml by-products</span>
        </mat-checkbox>
      </div>
      <div class="diets">
        <mat-checkbox>
        <span class="diet-title">Ketogenic</span>
          <span class="diet-info">High fat and low carb</span>
        </mat-checkbox>
      </div>
      <div class="diets">
        <mat-checkbox>
        <span class="diet-title">Low Fodmap</span>
          <span class="diet-info">Good Luck!</span>
        </mat-checkbox>
      </div>
      <div class="diets">
        <mat-checkbox>
        <span class="diet-title">Gluten-Free</span>
          <span class="diet-info">No gluten</span>
        </mat-checkbox>
      </div>
      <div class="diets">
        <mat-checkbox>
        <span class="diet-title">Dairy Free</span>
          <span class="diet-info">No dairy products</span>
        </mat-checkbox>
      </div>
   
  
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="droplist">
          Calories
        </mat-panel-title>
      </mat-expansion-panel-header>
   
      <!-- <input type="text" placeholder="kcal" class="calories" /> -->
      <mat-slider
      thumbLabel
      [displayWith]="formatLabel"
      tickInterval="100"
      min="1"
      max="2000"
      ></mat-slider>
   
     
    </mat-expansion-panel>
  </mat-accordion>

  <button mat-button>Submit</button>



</form>

<div *ngIf="data && data.length">
  <results [data]="data"></results>
</div>
